@import "~@mobov/scss-helper/import";

$--m-panel-transition-base: .25s ease;

/**
 * variables register.
 */
.m-panel {
    --m-panel-color: var(--m-color-primary);
    --m-panel-font-color: var(--m-font-color);
    --m-panel-bg-color: var(--m-bg-color);
    --m-panel-header-size: 45;
    --m-panel-footer-size: 50;
}

/**
 * components styles.
 */
.m-panel {
    height: 100%;
    width: 100%;
    overflow: hidden;
    padding: 0;
    margin: 0;
    color: var(--m-font-color);
    background-color: var(--m-panel-bg-color);
    font-size: var(--m-font-base);
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.m-panel-header {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: var(--m-panel-bg-color);
    //box-shadow: ;
}
.m-panel-main {
    height: 100%;
    width: 100%;
    overflow: auto;
    @include slim-scroll-bar();
}
