$--m-app-bar-size-xs: 2.5rem;
$--m-app-bar-size-sm: 3.5rem;
$--m-app-bar-size-md: 4.5rem;
$--m-app-bar-size-lg: 5.5rem;
$--m-app-bar-size-xl: 6.5rem;
/**
 * variables register.
 */
.m-app-bar {
    // selection
    --m-app-bar-size-xs: #{$--m-app-bar-size-xs};
    --m-app-bar-size-sm: #{$--m-app-bar-size-sm};
    --m-app-bar-size-md: #{$--m-app-bar-size-md};
    --m-app-bar-size-lg: #{$--m-app-bar-size-lg};
    --m-app-bar-size-xl: #{$--m-app-bar-size-xl};

    // default
    --m-app-bar-color: var(--m-color-primary);
    --m-app-bar-font-color: var(--m-bg-color);
    --m-app-bar-elevation: var(--m-elevation-2);

    --m-app-bar-size: var(--m-app-bar-size-md);

    --m-app-bar-position: relative;
}

/**
 * components styles.
 */
.m-app-bar {
    box-shadow: var(--m-app-bar-elevation);
    height: var(--m-app-bar-size);
    color: var(--m-app-bar-font-color);
    background-color: var(--m-app-bar-color);

    width: 100%;
    display: flex;
    align-items: center;
    padding: 0 var(--m-space-sm);
    box-sizing: border-box;
    transition: all ease .3s;
    border: 0 solid transparent;
    // variety
    &.m-variety-normal {
        color: var(--m-app-bar-font-color);
        background-color: var(--m-app-bar-color);
    }

    &.m-variety-flat {
        color: var(--m-app-bar-color);
        background-color: var(--m-bg-color);
    }
    &.m-variety-outline {
        color: var(--m-app-bar-color);
        background-color: var(--m-bg-color);
        border: 2px solid var(--m-app-bar-color);
    }
}
