/**
 * variables register.
 */
.m-checkbox {
    // default
    --m-checkbox-color: var(--m-color-primary);
    --m-checkbox-font-color: var(--m-font-color);
    --m-checkbox-size: 24px;
    --m-checkbox-wrapper-size: calc(var(--m-checkbox-size) * 2);
    --m-checkbox-font-size: calc(var(--m-checkbox-size) / 1.6);
}

/**
 * components styles.
 */
.m-checkbox {
    color: var(--m-checkbox-font-color);
    font-size: var(--m-checkbox-font-size);
    height: var(--m-checkbox-color);
    margin-right: var(--m-space-sm);
    cursor: pointer;
    position: relative;
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    -webkit-font-smoothing: antialiased;
    user-select: none;

    &__checked-icon,
    &__uncheck-icon,
    &__checkbox {
        height: var(--m-checkbox-size);
        width: var(--m-checkbox-size);
    }

    &__checked-icon {
        position: absolute;
        left: 0;
        top:0;
    }

    &__checkbox {
        position: relative;
    }

    &__checkbox-wrapper {
        position: absolute;
        left: calc(var(--m-checkbox-size) / 2 - var(--m-checkbox-wrapper-size) / 2);
        top: calc(var(--m-checkbox-size) / 2 - var(--m-checkbox-wrapper-size) / 2);
        height: var(--m-checkbox-wrapper-size);
        width: var(--m-checkbox-wrapper-size);
        border-radius: 50%;
    }

    &__label {
        text-indent: .4em;
    }

    // disabled
    &.m--disabled {
        opacity: .5;
    }
    // checked
    &.m--checked {
        color: var(--m-checkbox-color);
    }
}
