@import "~@mobov/scss-helper";

$--m-avatar-border-size: .2rem;
$--m-avatar-size-xs: 1.5rem;
$--m-avatar-size-sm: 2.5rem;
$--m-avatar-size-md: 3.5rem;
$--m-avatar-size-lg: 4.5rem;
$--m-avatar-size-xl: 5.5rem;
/**
 * variables register.
 */
.m-avatar {
    // selection
    --m-avatar-size-xs: #{$--m-avatar-size-xs};
    --m-avatar-size-sm: #{$--m-avatar-size-sm};
    --m-avatar-size-md: #{$--m-avatar-size-md};
    --m-avatar-size-lg: #{$--m-avatar-size-lg};
    --m-avatar-size-xl: #{$--m-avatar-size-xl};

    // default
    --m-avatar-color: var(--m-color-primary);
    --m-avatar-font-color: var(--m-bg-color);
    --m-avatar-elevation: var(--m-elevation-0);
    --m-avatar-shape: var(--m-shape-circle);
    --m-avatar-size: var(--m-avatar-size-md);
}

/**
 * components styles.
 */
.m-avatar {
    box-shadow: var(--m-avatar-elevation);
    background-color: var(--m-avatar-color);
    color: var(--m-avatar-font-color);

    width: var(--m-avatar-size);
    height: var(--m-avatar-size);
    font-size: var(--m-avatar-font-size);

    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: all ease .3s;
    border-width: 0;

    // shape

    // variety
    &.m-variety-outline {
        background-color: var(--m-bg-color);
        border-color: var(--m-avatar-color);
        color: var(--m-avatar-color);
        border-width: $--m-avatar-border-size;
        border-style: solid;
    }

    // status
    &.m--status-success {
        opacity: 1;
    }
    &.m--status-pending,
    &.m--status-failure {
        opacity: 0;
    }
}

.m-avatar__cover {
    @include abs-size(100% ,xy);
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    //border-radius: inherit;
}
