@import "~@mobov/scss-helper";

/**
 * variables register.
 */
.m-button {
  // default
  --m-button-color: var(--m-color-primary);
  --m-button-hover-color: var(--m-color-primary);
  --m-button-font-color: var(--m-bg-color);
  --m-button-size: 36px;
  --m-button-border-size: 2px;
}

/**
 * components styles.
 */
.m-button {
  //
  //@include clear-button;
  //margin: unset;
  outline: none;
  background-color: var(--m-button-color);
  color: var(--m-button-font-color);
  min-height: var(--m-button-size);
  height: var(--m-button-size);
  min-width: var(--m-button-size);
  //margin: .5em;
  border-radius: var(--m-shape-corner);
  border: var(--m-button-border-size) solid transparent;
  padding: 0 10px;
  display: inline-flex;
  align-items: center;
  justify-content: space-around;
  border-width: 0;
  cursor: pointer;
  user-select: none;
  box-sizing: border-box;
  position: relative;
  //line-height: 1;
  transition: all ease .2s;
  //> * {
  //  margin: 0 calc(var(--m-button-size) / 2);
  //}
  //> * {
  //  display: flex;
  //  align-items: center;
  //  justify-content: space-around;
  //  //vertical-align: middle;
  //}
    // hover
  &:hover {
    //background-color: var(--m-button-hover-color);
    //border-color: var(--m-button-hover-color);
    opacity: .8;
  }

  // variety
  &.m-variety-outline {
    background-color: var(--m-bg-color-main);
    //border-color: var(--m-button-color);
    color: var(--m-button-color);
    border: var(--m-button-border-size) solid var(--m-button-color);
    padding: 0;
    &:hover {
      //color: var(--m-button-hover-color);
      //border-color: var(--m-button-hover-color);
      //background-color: var(--m-button-hover-color);
      color: var(--m-button-color);
    }
  }
  &.m-variety-flat {
    background-color: transparent;
    color: var(--m-button-color);
  }

  // shape
  &.m-shape-circle {
    border-radius: var(--m-button-size);
  }
  &.m-shape-round {
    border-radius: var(--m-shape-round);
  }
  &.m-shape-square {
    border-radius: var(--m-shape-square);
  }
  // block
  &.m--block {
    width: 100%;
    display: flex;
  }
  // disabled
  &.m--disabled {
    //background-color: rgba(var(--m-button-color), .5);
    opacity: .6;
  }
}

.m-button__main {
  //margin: 0 calc(var(--m-button-size) / 4);
}
