/**
 * theme
 */
:root {
    --m-font-base: 62.5%;

    // theme mode variables
    --m-color-primary: var(--m-color-deeppurple-700);
    --m-color-error: var(--m-color-red-A400);
    --m-color-success: var(--m-color-green-500);
    --m-color-warning: var(--m-color-orange-A700);
    --m-color-default: var(--m-font-color);
    // day mode variables
    //--m-mode-font-color: var(--m-color-deeppurple-700);
    //--m-mode-bg-color: var(--m-color-grey-A100);
}

