/**
 * variables register.
 */
.m-list {
    // default
    --m-list-color: var(--m-bg-color-main);
    --m-list-font-color: var(--m-font-color-main);
    --m-list-active-color: var(--m-color-main);
    --m-list-size: 16px;
}

.m-list-item {
    // default
    --m-list-item-space: var(--m-bg-color-main);
    --m-list-item-color: var(--m-bg-color-main);
    --m-list-item-font-color: var(--m-font-color-main);
    --m-list-item-active-color: var(--m-color-main);
    --m-list-item-size: 50px;
    --m-list-item-font-size: 14px;
}

/**
 * components styles.
 */
.m-list {
    background-color: var(--m-list-color);
    color: var(--m-list-font-color);
    cursor: pointer;
    position: relative;
    &__title {
        padding: var(--m-space-sm);
        font-size: var(--m-list-size);
    }
    &__main {

    }
    &.--with-title-divider {
        .m-list__title {
            border-bottom: var(--m-border-base);
        }
    }
}
.m-list-item {
    background-color: var(--m-list-item-color);
    color: var(--m-list-item-font-color);
    min-height: var(--m-list-item-size);
    cursor: pointer;
    position: relative;
    font-size: var(--m-list-item-font-size);

    &.--with-divider {
        border-bottom: var(--m-border-base);
    }
    &__main {
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
    &__media {
        margin-right: var(--m-space-sm);
    }
    &__content {
        flex-grow: 1;
    }
    //&__action {
    //    display: flex;
    //    justify-content: flex-start;
    //    align-items: center;
    //}
    &.--active {
        background-color: var(--m-hover-bg-color);
    }
    &.--with-hover {
        &:hover {
            background-color: var(--m-hover-bg-color);
        }
    }
}
//.m-list__cover {
//}
//.m-list__content {
//}
