/**
 * components styles.
 */
html,
body,
#app,
.m-app {
    height: 100%;
    width: 100%;
    overflow: hidden;
    padding: 0;
    margin: 0;
    font-size: var(--m-font-base);
    color: var(--m-font-color);
    background-color: var(--m-bg-color);
    position: relative;
}
* {
    box-sizing: border-box;
}
