@import "~@megmore/scss-helper/import";
$--m-transition-table-base: ease .3s;

$--m-table-row-size-xs: 2rem;
$--m-table-row-size-sm: 3rem;
$--m-table-row-size-md: 4rem;
$--m-table-row-size-lg: 5rem;
$--m-table-row-size-xl: 6rem;
/**
 * variables register.
 */
.m-table {
    // selection
    --m-table-row-size-xs: #{$--m-table-row-size-xs};
    --m-table-row-size-sm: #{$--m-table-row-size-sm};
    --m-table-row-size-md: #{$--m-table-row-size-md};
    --m-table-row-size-lg: #{$--m-table-row-size-lg};
    --m-table-row-size-xl: #{$--m-table-row-size-xl};
    // default
    --m-table-color: var(--m-bg-color);
    --m-table-bg-color: var(--m-bg-color);
    --m-table-font-color: var(--m-font-color);
    --m-table-active-color: var(--m-day-bg-second-color);
    --m-table-row-size: var(--m-table-row-size-md);
}

/**
 * components styles.
 */
.m-table {
    position: relative;
    background-color: var(--m-table-bg-color);
    table {
        min-width: 100%;
        border-collapse: collapse;
        position: relative;
        border-spacing: 0;
        background-color: inherit;
        > thead {
            background-color: inherit;
            width: inherit;
        }
        > tbody{
            background-color: inherit;
            width: inherit;
        }
        tr {
            background-color: white;
            border: none;
        }
        td {
            border: none;
            background-color: inherit;
            position: relative;
            &:last-child {
                &:before {
                    width: 0;
                }
            }
            &:after {
                content: ' ';
                position: absolute;
                height: 1px;
                width: 100%;
                background-color: var(--m-border-color);
                right: 0;
                bottom: 0;
            }
        }
    }

    // size
    //@each $breakpoint in $--Breakpoints {
    //    $font-size: map_get($--Size-font, $breakpoint);
    //    $space-table-cell-x: map_get($--Space-table-cell-x, $breakpoint);
    //    $space-table-cell-y: map_get($--Space-table-cell-y, $breakpoint);
    //
    //    &.m--#{$breakpoint} {
    //        font-size: d($font-size);
    //        td {
    //            padding: d($space-table-cell-y) d($space-table-cell-x);
    //        }
    //    }
    //}

    // border
    &.m--border {
        table {
            td {
                &:before {
                    content: ' ';
                    position: absolute;
                    height: 100%;
                    width: 1px;
                    background-color: var(--m-border-color);
                    top: 0;
                    right: 0;
                }
            }
        }
    }

    // sticky-header
    &.m--sticky-header {
        .m-table-head {
            position: sticky;
            top: 0;
            left: 0;
            z-index: 1;
        }
    }

    // hover
    &.m--row-hover {
        .m-table-body__row:hover {
            background-color: var(--m-table-active-color);
        }
    }
    &.m--cell-hover {
        .m-table-body__cell:hover {
            background-color: var(--m-table-active-color);
        }
    }
}

.m-table__wrapper {
    overflow: auto;
    background-color: inherit;
    @include slim-scroll-bar(xy);
    width: 100%;
}
.m-table-head {
    min-width: 100%;
    background-color: inherit;
}
.m-table-body {
    width: 100%;
    background-color: inherit;
    tr {
        cursor: pointer;
    }
}
.m-table-head__row,
.m-table-body__row {
    min-height: var(--m-table-row-size);
    height: var(--m-table-row-size);
}
.m-table-body__row {
    transition: background-color $--m-transition-table-base;

    // row selected
    &.m--selected {
        background-color: var(--m-table-active-color);
    }
    // row disabled
    &.m--disabled {
        background-color: var(--m-table-active-color);
    }
}
.m-table-body__cell {
    transition: background-color $--m-transition-table-base;
}
.m-table-body__expand {
    width: 100%;
    height: 0 !important;
    max-width: 100%;
    > td {
        padding: 0;
    }
}
.m-table-body__expand-content {
    box-shadow: var(--m-elevation-2) inset;
    background-color: var(--m-table-active-color);
}
